<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SafeVaultClient</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column nav">
        <div class="px-3 nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi-house-door-fill-nav-menu bi" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="form">
                <span class="bi-journal-text-nav-menu bi" aria-hidden="true"></span> Manual Tests
            </NavLink>
        </div>
        <div class="px-3 nav-item">
            <NavLink class="nav-link" href="security-tests">
                <span class="bi-shield-fill-nav-menu bi" aria-hidden="true"></span> Security Tests
            </NavLink>
        </div>
        <div class="px-3 nav-item">
            <NavLink class="nav-link" href="auth-tests">
                <span class="bi-lock-fill-nav-menu bi" aria-hidden="true"></span> Login Tests
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
